
/* MANAGEMENT */

%full-width { display: block; width: 100%; }

%transit-300 {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* PROJECT */

%no-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%clear-both { content: ''; display: table; clear: both; }